[Unit]
Description=Proxima staging preview supervisor socket

[Socket]
ListenStream=/run/proxima-staging-preview-output.sock
SocketUser=proxima
SocketGroup=proxima
SocketMode=0600
Accept=yes

[Install]
WantedBy=sockets.target
